body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    border-style: double; 
    width: 46vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    background-color: #5acbff;
}

.crud{
    text-align: center;
    border-style: groove;
    width: 40vw;
    height: 8vw;
    border-radius: 7px;
    background-color: #f0e9eb;

}


#adiciona{
    text-align: center;
    width: 60%;
    background-color: #ad34f3;
    border-radius: 7px;
    color: #d9e6eb;
}

#logar{
    text-align: center;
    width: 60%;
    background-color: #ad34f3;
    border-radius: 7px;
    color: #d9e6eb;
}

#edit{
    text-align: center;
    width: 60%;
    background-color: #fbff0d;
    border-radius: 7px;
}

#delete{
    text-align: center;
    width: 60%;
    background-color: #f01515;
    border-radius: 7px;
}

input{
    width: 200px;
    height: 20px;
    border-radius: 7px;
    background-color: #d9e6eb;

}
